<%- layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Listing Details</h1>
        </div>
        <div class="card col-6 offset-2" style="width: 20rem;">
            <img src="<%=listing.image%>" class="card-img-top show-img" alt="PropImage">
            <div class="card-body">
                <h5 class="card-title">
                    <%=listing.title%>
                </h5>
            </div>
        </div>
        <div class="details col-6 offset-2">
            <p>&#x20B9;<%= listing.price.toLocaleString("en-IN") %></p>
            <p><%= listing.description %></p>
            <p><%= listing.location %></p>
            <p><%= listing.country %></p>
            <!-- Button Group for Edit and Delete Buttons -->
            <div class="col">
                <div class="btn-group" role="group" aria-label="Edit and Delete Buttons">
                    <a href="/listings/<%= listing._id%>/update"><button class="btn">Edit</button></a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <form action="/listings/<%= listing._id%>/delete?_method=DELETE" method="post">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
