<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRbnb</title>
    <!-- below line is giving error, maybe we are linking it with two ejs files -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
        <p><%= listing.title %></p>
        <div class="listingImage">
            <img src="<%=listing.image%>" alt="image">
        </div>
        <p>&#x20B9;<%= listing.price.toLocaleString("en-IN") %></p>
        <p><%= listing.description %></p>
        <p><%= listing.location %></p>
        <p><%= listing.country %></p>
        <form action="/listings/<%= listing._id%>/delete?_method=DELETE"  method="post">
            <button>Delete</button>
       </form>
</body>
</html>